# =========================
# C++ & CMake Build Files
# =========================
# Ignore the entire build directory (contains your executables, Makefiles, and object files)
build/
.cache/
compile_commands.json
CMakeFiles/
CMakeCache.txt
CMakeFiles/
CMakeCache.txt

# Nix build output symlink
result

# =========================
# Python Environment
# =========================
# Ignore the virtual environment folder (this contains thousands of Python system files)
venv/
env/

# Ignore Python cache files (generated automatically when Python runs)
__pycache__/
*.py[cod]
*$py.class

# =========================
# OS & Editor Files
# =========================
.vscode/
.DS_Store
